@use "../../../assets/fonts.scss" as f;


.item {
    background-image: url('../../../assets/background_img.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 0.3rem;
    font-family: f.$recipe_text;
}



//Так можно делать, если нужно стилизовать построчно, но нам тут так пока не надо
// .recipes {
//     &__item {

//         &_odd {
//             background: green;
//         }

//         &_even {
//             background: greenyellow;
//         }
//     }
// }