@use "../../../../../assets/styles/fonts.scss" as f;
@use "../../../../../assets/styles/colors.scss" as c;



.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: f.$recipe_text;
    padding-bottom: 3em;
    background-image: url('../../../../../assets/img/background_img.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 0.3rem;

    &__link {
        display: block;
        text-align: center;
        font-weight: 600;
        margin-left: 5em;
        margin-right: 5em;

        text-decoration: none;
        color: c.$bg-color-button;
        border-bottom: 3px solid;
        border-bottom-color: c.$border-bottom-color;


        &:hover {
            text-decoration: none;
            color: c.$hover-color;
            border-bottom-color: c.$hover-border-bottom-color;

        }

        &:visited {
            text-decoration: none;
            color: c.$visited-color;
            border-bottom-color: c.$visited-border-bottom-color;
        }

    }

    &__image {
        display: block;
        margin-top: 3.5em;
        border: 3px outset c.$image-border-color;
        padding: 0.1em;
        max-width: 25%;
        max-height: 30%;
    }

    &__calories {
        display: block;
        font-size: 0.5em;
        color: c.$image-border-color;
        margin: 0;
    }

    &__cautions {
        display: block;
        font-size: 0.5em;
        color: c.$image-border-color;
        margin: 0;
    }
}




// Это код чтобы сделать рамку как у палоройда, но у нас и так белая подложка, поэтому смотрится не очень, но пусть будет на будущее 
// border: 10px solid #fff;
// border-bottom: 45px solid #fff;
// -webkit-box-shadow: 3px 3px 3px #777;
// -moz-box-shadow: 3px 3px 3px #777;
// box-shadow: 3px 3px 3px #777;