.item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__link {
        display: block;
        text-align: center;
    }

    &__image {
        display: block;
    }
}