@use 'fonts' as f;
@use 'colors' as c;


* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: 4.1vw;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#dynamic-elements {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.header-style {
  background-blend-mode: screen;
  background: c.$header_footer-gradient;
}

.footer-style {
  //background-blend-mode: screen;
  background-color: green;
  // linear-gradient(limegreen, transparent),
  // linear-gradient(90deg, skyblue, transparent),
  // linear-gradient(-90deg, coral, transparent),
}

.header-text {
  display: flex;
  justify-content: center;
  font-family: f.$header_footer;
}

.footer-text {
  display: flex;
  justify-content: end;
  font-family: f.$header_footer;
}