@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Croissant+One&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: 4.1vw;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#dynamic-elements {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.header-style {
  background-blend-mode: screen;
  background:
    linear-gradient(limegreen, transparent),
    linear-gradient(90deg, skyblue, transparent),
    linear-gradient(-90deg, coral, transparent);
}

.footer-style {
  background-blend-mode: screen;
  background:
    linear-gradient(limegreen, transparent),
    linear-gradient(90deg, skyblue, transparent),
    linear-gradient(-90deg, coral, transparent),
}

.header-text {
  display: flex;
  justify-content: center;
  font-family: 'Comfortaa', cursive;
  font-family: 'Croissant One', cursive;
}

.footer-text {
  display: flex;
  justify-content: end;
  font-family: 'Comfortaa', cursive;
  font-family: 'Croissant One', cursive;
}