* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 2vw;
}

header {
  height: 10vh;
  background-color: aquamarine;
}

footer {
  height: 10vh;
  background-color: aquamarine;
}